

<h1>Listing Proyects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Proyectos Pendientes</th>
      <th colspan="3"> Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @proyects.each do |proyect| %>
      <tr>
        <td><%= link_to "#{proyect.name}", proyect %></td>
        <td><%= proyect.description %></td>
        <td><%= proyect.user %></td>
        <td></td>
        <td><%= link_to proyect , class: 'show' do %>
            <span class="icon-eye" aria-hidden="true"></span>
            <% end %>
        </td>
        <% if can? :update, proyect %>
          <td><%= link_to edit_proyect_path(proyect), class: 'edit' do %>
            <span class="icon-cog" aria-hidden="true"></span>
            <% end %>
          </td>
        <% end %>
        <% if can? :destroy, proyect %>
          <td><%= link_to proyect, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="icon-trash" aria-hidden="true"></span>
            <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Proyect %>
  <%= link_to 'New Proyect', new_proyect_path %>
<% end %>
